@{
    ViewData["Title"] = "Approve Loan";
    Layout = "_LayoutDashboard";
}
<div class="white-box">
    <div class="row">
        <div class="col-sm-10">
            <div class="tab-content" id="v-pills-tabContent-right">
                <div class="tab-pane fade active show" id="v-pills-home2" role="tabpanel"
                     aria-labelledby="v-pills-home-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>Request Loan</h2>
                        <span>Total : 3 </span>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="requestLoanTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Keperluan</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>Pinjaman Active</h2>
                        <span>Total : 3 </span>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="pinjamanActiveTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Keperluan</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel"
                     aria-labelledby="v-pills-settings-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>Return Request</h2>
                        <span>Total : 3 </span>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="returLoanTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Keperluan</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-setting2" role="tabpanel"
                     aria-labelledby="v-pills-setting-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>History Pinjaman</h2>
                        <span>Total : 3 </span>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="historyTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Keperluan</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                            <td scope="col">1</td>
                                            <td scope="col">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#historyPinjamanModal"><i class="fas fa-info-circle"></i></button>
                                                </div>
                                            </td>
                                            <td scope="col">12-01-2022</td>
                                            <td scope="col">14-01-2022</td>
                                            <td scope="col">
                                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                                            </td>
                                            <td scope="col">Approval</td>
                                        </tr>
                                        <tr>
                                            <td scope="col">2</td>
                                            <td scope="col">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></button>
                                                </div>
                                            </td>
                                            <td scope="col">11-01-2022</td>
                                            <td scope="col">12-01-2022</td>
                                            <td scope="col">
                                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                                            </td>
                                            <td scope="col">Approval</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tabcontent-->
        </div>
        <!-- end col-->
        <div class="col-sm-2 mt-2 mt-sm-0">
            <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link active show" id="v-pills-home-tab2" data-bs-toggle="pill"
                   href="#v-pills-home2" role="tab" aria-controls="v-pills-home2"
                   aria-selected="true">
                    <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">Request Loan</span>
                </a>
                <a class="nav-link" id="v-pills-profile-tab2" data-bs-toggle="pill"
                   href="#v-pills-profile2" role="tab" aria-controls="v-pills-profile2"
                   aria-selected="false">
                    <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">Active Loan</span>
                </a>
                <a class="nav-link" id="v-pills-settings-tab2" data-bs-toggle="pill"
                   href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2"
                   aria-selected="false">
                    <i class="mdi mdi-settings-outline d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">Return Request</span>
                </a>
                <a class="nav-link" id="v-pills-setting-tab2" data-bs-toggle="pill"
                   href="#v-pills-setting2" role="tab" aria-controls="v-pills-setting2"
                   aria-selected="false">
                    <i class="mdi mdi-settings-outline d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">History</span>
                </a>
            </div>
        </div>
        <!-- end col-->
    </div>
</div>

<!-- MODAL DETAIL PINJAMAN ACTIVE -->
<div class="modal fade" id="pinjamanActiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pinjaman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <img class="figure-img img-fluid rounded"
                                     src="https://cdn.idntimes.com/content-images/community/2021/09/hp-pavilion-aero-13-625x417-c-824604e0f5644ad589807232cdcefaba-b5629d4e65d340d1d248280fbfec6568_600x400.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-8">
                                <div class="col">
                                    <label>Name</label>
                                    <input type="text" class="form-control" readonly />
                                    <label>Spesification</label>
                                    <input type="text" class="form-control" readonly />
                                    <label>Deskripsi</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img class="figure-img img-fluid rounded"
                                     src="https://cdn.idntimes.com/content-images/community/2021/09/hp-pavilion-aero-13-625x417-c-824604e0f5644ad589807232cdcefaba-b5629d4e65d340d1d248280fbfec6568_600x400.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-8">
                                <div class="col">
                                    <label>Name</label>
                                    <input type="text" class="form-control" readonly />
                                    <label>Spesification</label>
                                    <input type="text" class="form-control" readonly />
                                    <label>Deskripsi</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <span>Total Item : </span>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Keperluan</label>
                        <input type="text" class="form-control" name="keperluan" id="keperluan" value="" readonly />
                        <label>Dipinjam dari</label>
                        <input type="date" class="form-control" readonly />
                        <label>Hingga</label>
                        <input type="date" class="form-control" readonly />
                        <label>Approval</label>
                        <input type="text" class="form-control" readonly />
                        <label>Status</label>
                        <input type="text" class="form-control" readonly />
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DETAIL HISTORY PINJAMAN -->
<div class="modal fade" id="historyPinjamanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pinjaman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <img class="figure-img img-fluid rounded"
                                     src="https://cdn.idntimes.com/content-images/community/2021/09/hp-pavilion-aero-13-625x417-c-824604e0f5644ad589807232cdcefaba-b5629d4e65d340d1d248280fbfec6568_600x400.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="tab-content" id="v-pills-tabContent-right">
                                            <div class="tab-pane fade active show" id="v-pills2" role="tabpanel"
                                                 aria-labelledby="v-pills-home-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Spesification</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pill2" role="tabpanel"
                                                 aria-labelledby="v-pills-profile-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Tangal Kembali</label>
                                                        <input type="datetime" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Kondisi</label>
                                                        <input type="text" class="form-control" value="Baik" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end tabcontent-->
                                    </div>
                                    <!-- end col-->
                                    <div class="col-sm-3 mt-2 mt-sm-0">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist"
                                             aria-orientation="vertical">
                                            <a class="nav-link active show" id="v-pills-home-tab2" data-bs-toggle="pill"
                                               href="#v-pills2" role="tab" aria-controls="v-pills-home2"
                                               aria-selected="true">
                                                <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Peminjaman</span>
                                            </a>
                                            <a class="nav-link" id="v-pills-profile-tab2" data-bs-toggle="pill"
                                               href="#v-pill2" role="tab" aria-controls="v-pills-profile2"
                                               aria-selected="false">
                                                <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Pengembalian</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end col-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img class="figure-img img-fluid rounded"
                                     src="https://cdn.idntimes.com/content-images/community/2021/09/hp-pavilion-aero-13-625x417-c-824604e0f5644ad589807232cdcefaba-b5629d4e65d340d1d248280fbfec6568_600x400.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="tab-content" id="v-pills-tabContent-right">
                                            <div class="tab-pane fade active show" id="v-home2" role="tabpanel"
                                                 aria-labelledby="v-pills-home-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Spesification</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-profile2" role="tabpanel"
                                                 aria-labelledby="v-pills-profile-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Tangal Kembali</label>
                                                        <input type="datetime" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Kondisi</label>
                                                        <input type="text" class="form-control" value="Baik" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end tabcontent-->
                                    </div>
                                    <!-- end col-->
                                    <div class="col-sm-3 mt-2 mt-sm-0">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist"
                                             aria-orientation="vertical">
                                            <a class="nav-link active show" id="v-pills-home-tab2" data-bs-toggle="pill"
                                               href="#v-home2" role="tab" aria-controls="v-pills-home2"
                                               aria-selected="true">
                                                <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Peminjaman</span>
                                            </a>
                                            <a class="nav-link" id="v-pills-profile-tab2" data-bs-toggle="pill"
                                               href="#v-profile2" role="tab" aria-controls="v-pills-profile2"
                                               aria-selected="false">
                                                <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Pengembalian</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end col-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <span>Total Item : </span>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Keperluan</label>
                        <input type="text" class="form-control" name="keperluan" id="keperluan" value="" readonly />
                        <label>Dipinjam dari</label>
                        <input type="date" class="form-control" readonly />
                        <label>Hingga</label>
                        <input type="date" class="form-control" readonly />
                        <label>Approval</label>
                        <input type="text" class="form-control" readonly />
                        <label>Status</label>
                        <input type="text" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historyPinjamanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pinjaman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <img class="figure-img img-fluid rounded"
                                     src="https://cdn.idntimes.com/content-images/community/2021/09/hp-pavilion-aero-13-625x417-c-824604e0f5644ad589807232cdcefaba-b5629d4e65d340d1d248280fbfec6568_600x400.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="tab-content" id="v-pills-tabContent-right">
                                            <div class="tab-pane fade active show" id="v-pills2" role="tabpanel"
                                                 aria-labelledby="v-pills-home-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Spesification</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pill2" role="tabpanel"
                                                 aria-labelledby="v-pills-profile-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Tangal Kembali</label>
                                                        <input type="datetime" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Kondisi</label>
                                                        <input type="text" class="form-control" value="Baik" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end tabcontent-->
                                    </div>
                                    <!-- end col-->
                                    <div class="col-sm-3 mt-2 mt-sm-0">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist"
                                             aria-orientation="vertical">
                                            <a class="nav-link active show" id="v-pills-home-tab2" data-bs-toggle="pill"
                                               href="#v-pills2" role="tab" aria-controls="v-pills-home2"
                                               aria-selected="true">
                                                <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Peminjaman</span>
                                            </a>
                                            <a class="nav-link" id="v-pills-profile-tab2" data-bs-toggle="pill"
                                               href="#v-pill2" role="tab" aria-controls="v-pills-profile2"
                                               aria-selected="false">
                                                <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Pengembalian</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end col-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img class="figure-img img-fluid rounded"
                                     src="https://cdn.idntimes.com/content-images/community/2021/09/hp-pavilion-aero-13-625x417-c-824604e0f5644ad589807232cdcefaba-b5629d4e65d340d1d248280fbfec6568_600x400.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="tab-content" id="v-pills-tabContent-right">
                                            <div class="tab-pane fade active show" id="v-home2" role="tabpanel"
                                                 aria-labelledby="v-pills-home-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Spesification</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-profile2" role="tabpanel"
                                                 aria-labelledby="v-pills-profile-tab2">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Tangal Kembali</label>
                                                        <input type="datetime" class="form-control" readonly />
                                                        <label>Deskripsi</label>
                                                        <input type="text" class="form-control" readonly />
                                                        <label>Kondisi</label>
                                                        <input type="text" class="form-control" value="Baik" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end tabcontent-->
                                    </div>
                                    <!-- end col-->
                                    <div class="col-sm-3 mt-2 mt-sm-0">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist"
                                             aria-orientation="vertical">
                                            <a class="nav-link active show" id="v-pills-home-tab2" data-bs-toggle="pill"
                                               href="#v-home2" role="tab" aria-controls="v-pills-home2"
                                               aria-selected="true">
                                                <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Peminjaman</span>
                                            </a>
                                            <a class="nav-link" id="v-pills-profile-tab2" data-bs-toggle="pill"
                                               href="#v-profile2" role="tab" aria-controls="v-pills-profile2"
                                               aria-selected="false">
                                                <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                                                <span class="d-none d-lg-block">Pengembalian</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- end col-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <span>Total Item : </span>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Keperluan</label>
                        <input type="text" class="form-control" name="keperluan" id="keperluan" value="" readonly />
                        <label>Dipinjam dari</label>
                        <input type="date" class="form-control" readonly />
                        <label>Hingga</label>
                        <input type="date" class="form-control" readonly />
                        <label>Approval</label>
                        <input type="text" class="form-control" readonly />
                        <label>Status</label>
                        <input type="text" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script type="text/javascript" src="~/js/admin/ApprovePinjaman.js"></script>
}