@{
    ViewData["Title"] = "Approve Loan";
    Layout = "_LayoutDashboard";
}
<div class="white-box">
    <div class="row">
        <div class="col-sm-10">
            <div class="tab-content" id="v-pills-tabContent-right">

                <!-- REQUEST LOAN -->
                <div class="tab-pane fade active show" id="v-pills-home2" role="tabpanel"
                     aria-labelledby="v-pills-home-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>Request Loan</h2>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="requestLoanTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Active Loan -->
                <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>Active Loan</h2>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="pinjamanActiveTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Return Request -->
                <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel"
                     aria-labelledby="v-pills-settings-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>Return Request</h2>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="returLoanTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- History Loan -->
                <div class="tab-pane fade" id="v-pills-setting2" role="tabpanel"
                     aria-labelledby="v-pills-setting-tab2">
                    <div class="row" style="text-align: center;">
                        <h2>History Loan</h2>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <div class="row">
                            <div class="col">
                                <table id="historyTable" class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Approval</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbEmployeesBody">
                                        <tr>
                                            <td scope="col">1</td>
                                            <td scope="col">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#historyPinjamanModal"><i class="fas fa-info-circle"></i></button>
                                                </div>
                                            </td>
                                            <td scope="col">12-01-2022</td>
                                            <td scope="col">14-01-2022</td>
                                            <td scope="col">
                                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                                            </td>
                                            <td scope="col">Approval</td>
                                        </tr>
                                        <tr>
                                            <td scope="col">2</td>
                                            <td scope="col">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></button>
                                                </div>
                                            </td>
                                            <td scope="col">11-01-2022</td>
                                            <td scope="col">12-01-2022</td>
                                            <td scope="col">
                                                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                                            </td>
                                            <td scope="col">Approval</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end tabcontent-->
        </div>
        <!-- end col-->
        <div class="col-sm-2 mt-2 mt-sm-0">
            <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link active show" id="v-pills-home-tab2" data-bs-toggle="pill"
                   href="#v-pills-home2" role="tab" aria-controls="v-pills-home2"
                   aria-selected="true">
                    <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">Request Loan</span>
                </a>
                <a class="nav-link" id="v-pills-profile-tab2" data-bs-toggle="pill"
                   href="#v-pills-profile2" role="tab" aria-controls="v-pills-profile2"
                   aria-selected="false">
                    <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">Active Loan</span>
                </a>
                <a class="nav-link" id="v-pills-settings-tab2" data-bs-toggle="pill"
                   href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2"
                   aria-selected="false">
                    <i class="mdi mdi-settings-outline d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">Return Request</span>
                </a>
                <a class="nav-link" id="v-pills-setting-tab2" data-bs-toggle="pill"
                   href="#v-pills-setting2" role="tab" aria-controls="v-pills-setting2"
                   aria-selected="false">
                    <i class="mdi mdi-settings-outline d-lg-none d-block me-1"></i>
                    <span class="d-none d-lg-block">History</span>
                </a>
            </div>
        </div>
        <!-- end col-->
    </div>
</div>

<!-- MODAL DETAIL PINJAMAN ACTIVE -->
<div class="modal fade" id="pinjamanActiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pinjaman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                    <div class="col-12" id="itemLoan">

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Needs</label>
                        <input type="text" class="form-control" name="keperluan" id="keperluan" value="" />
                        <label>Start Date</label>
                        <input type="date" class="form-control" name="startDate" id="startDate" value="" />
                        <label>End Date</label>
                        <input type="date" class="form-control" name="endtDate" id="endDate" value="" />
                        <label>Approval</label>
                        <input type="text" class="form-control" name="approval" id="approval" value="" readonly />
                        <label>Status</label>
                        <input type="text" class="form-control" name="status" id="status" value="" readonly />
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DETAIL HISTORY PINJAMAN -->
<div class="modal fade" id="historyPinjamanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pinjaman</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                    <div class="col-12" id="historyItem">

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label>Needs</label>
                        <input type="text" class="form-control" name="keperluan" id="keperluanH" value="" />
                        <label>Start Date</label>
                        <input type="date" class="form-control" name="startDate" id="startDateH" value="" />
                        <label>End Date</label>
                        <input type="date" class="form-control" name="endtDate" id="endDateH" value="" />
                        <label>Approval</label>
                        <input type="text" class="form-control" name="approval" id="approvalH" value="" readonly />
                        <label>Status</label>
                        <input type="text" class="form-control" name="status" id="statusH" value="" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FORM RETURN REQUEST -->
<div class="modal fade" id="formReturnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Return Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Item</h4>
                    </div>
                    <div class="col-12" id="returnItem">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="getFormReturn()">Approved Return</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/js/admin/ApprovePinjaman.js"></script>
}