@{
    ViewData["Title"] = "Approve Bills";
    Layout = "_LayoutDashboard";
}

<div class="white-box">
    <div class="row">
        <h1>Approve Bills</h1>
    </div>
    <table id="Table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">No.</th>
                @*<th scope="col">Loaner</th>*@
                <th scope="col">Date</th>
                <th scope="col">Total Bill</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Confirmation Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="TableBody">
            @*<tr>
                <td scope="col">1</td>
                <td scope="col">Badru</td>
                <td scope="col">28-01-2022</td>
                <td scope="col" id="bill">Rp 50.000</td>
                <td scope="col">Paid</td>
                <td scope="col">Confirmed</td>
                <td scope="col">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#detailModel"><i class="fas fa-info-circle"></i></button>
                        <button class="btn btn-success text-white me-2" onclick="Approve()"><i class=" fas fa-check"></i></button>
                        <button class="btn btn-danger text-white" onclick="Reject()"><i class=" fas fa-times"></i></button>
                    </div>

                </td>
            </tr>*@
        </tbody>
    </table>
</div>


<!-- Modal Detail -->
<div class="modal fade" id="detailModel" tabindex="-1" aria-labelledby="detailModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bill Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        @*<div class="col-6">*@
                        <img id="gambarBukti" class="figure-img img-fluid rounded"
                             alt="Alternate Text" />
                        @*</div>*@
                        @*<div class="col-6">*@
                    <table>
                        @*<tr>
                            <td>Loaner</td>
                            <td>:</td>
                            <td>Badru</td>
                        </tr>*@
                        <tr>
                            <td>Date</td>
                            <td>:</td>
                            <td id="date">28-01-2022</td>
                        </tr>
                        <tr>
                            <td>Total Bill</td>
                            <td>:</td>
                            <td id="totalBill">Rp. 50.000</td>
                        </tr>
                        <tr>
                            <td>Payment Status</td>
                            <td>:</td>
                            <td id="paymentStatus">Paid</td>
                        </tr>
                        <tr>
                            <td>Confirmation Status</td>
                            <td>:</td>
                            <td id="confirmStatus">Confirmed</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script type="text/javascript" src="~/js/approveTagihan.js"></script>
}