@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutDashboard";
}

<div class="text-center">
    <h5 class="display-4" id="dasWelcom"></h5>
    <h5 id="subWelcom"></h5>
</div>

<div class="row justify-content-center" style="margin-top: 50px;">
    <h5>My Loan</h5>
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Active Loan</div>
                <div class="card-body">
                    <h4 class="card-title" id="lengtActiveLoan"></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">History Loan</div>
                <div class="card-body">
                    <h4 class="card-title" id="lengtHistoryLoan"></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Bill</div>
                <div class="card-body">
                    <h4 class="card-title" id="myBillLent"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="row justify-content-center" style="margin-top: 25px;">
        <h5>General Loan</h5>
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Request Loan</div>
                    <div class="card-body">
                        <h4 class="card-title" id="lengtRequestLoan"></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">All Active Loans</div>
                    <div class="card-body">
                        <h4 class="card-title" id="allActiveLoans"></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">Request Return Loan</div>
                    <div class="card-body">
                        <h5 class="card-title" id="returnRequestLoan">Danger card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Bill Request Approval</div>
                    <div class="card-body">
                        <h4 class="card-title" id="aproveBill"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    @section scripts {
        <script type="text/javascript" src="~/js/home.js"></script>
    }