@{
    ViewData["Title"] = "Forbidden 403";
    Layout = "_LayoutError";
}

<h1 class="error-title text-danger">403</h1>
<h3 class="text-uppercase error-subtitle">FORBIDDEN !</h3>
<p class="text-muted mt-4 mb-4">YOU DON'T HAVE PERMISSION TO ACCESS THIS SITE</p>
<a asp-controller="Menu" asp-action="index" class="btn btn-danger btn-rounded waves-effect waves-light mb-5 text-white">Back to home</a>