@{
    ViewData["Title"] = "Unathorized 401";
    Layout = "_LayoutError";
}

<h1 class="error-title text-danger">401</h1>
<h3 class="text-uppercase error-subtitle">UNATHORIZED USER!</h3>
<p class="text-muted mt-4 mb-4">AUTHORIZATION REQUIRED, PLEASE LOGIN FIRST</p>
<a asp-controller="Menu" asp-action="index" class="btn btn-danger btn-rounded waves-effect waves-light mb-5 text-white">Login</a>